
<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    
    <div>
        <!-- ツイートフォーム -->
        <%= form_for(@tweet) do |f| %>
          <%= f.text_area :content, class: "post_tweet", :size => "40x5", placeholder: :"1文字以上255文字以下でツイート可能です" %>
          <br>
          <%= f.submit "ツイート" %>
        <% end %>
        <p class="count_tweet">0</p>
    </div>
    
    <!-- ツイート表示 -->
    <% @tweets.each do |tweet| %>
      <div class="row">
          <p>稲本 <span><%= tweet.created_at %></span></p>
          <h4><strong><%= tweet.content %></strong></h4>
          <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    <% end %>
    
    
    </div>
</div>